# git pull --recurse-submodules
# git submodule update --recursive --remote
[submodule "functions/php-saml"]
	path = functions/php-saml
	url = https://github.com/onelogin/php-saml.git
[submodule "functions/PHPMailer"]
	path = functions/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "functions/oauth2-client"]
	path = functions/oauth2-client
	url = https://github.com/thephpleague/oauth2-client
